/*
these are comments
*/

:root {
    --background-color: black;
    --color-A: darkviolet;
    --color-B: #f44174;
    --color-C: #f9dc5c;
    --color-D: #01baef;
    --color-D: #017fa2;
    --color-E: #171738;
    --color-F: #09bc8a;
    --hover-color: linear-gradient(0deg, rgba(251, 141, 63, 1) 0%, rgba(252, 70, 107, 1) 100%);
    --running-color: linear-gradient(0deg, rgba(34, 118, 195, 1) 0%, rgba(119, 202, 255, 1) 100%);
    --complete-color: linear-gradient(0deg, rgba(195, 53, 34, 1) 0%, rgba(255, 119, 161, 1) 100%);
    --border-color: white;
}

* {
    font-family: "Source Code Pro", monospace;
    text-align: left;
    background: var(--background-color);
    font-weight: 400;
    /* width: 80vw; */
    color: white;
}

.total_wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-grow: 0;
    max-width: 1000px;
    max-width: 90vw;
    height: 80vh;
}

.header_wrapper {
    display: flex;
    flex-flow: row;
    flex: 0 0;
    /* max-height: 30%; */
    /* background: var(--background-color); */
    color: white;
    justify-content: space-between;
    padding: 8px;
    /* width: 60vw; */
    border: 2px;
    border-color: var(--border-color);
    border-style: solid;
    /* margin: 0 auto; */
    height: 15%;
}

.stats_banner {
    font-size: 20pt;
    letter-spacing: 2px;
    align-items: flex-end;
    align-content: center;
}

.criminal_status {
    font-size: 15pt;
    /* letter-spacing: 0 px; */
    text-align: end;
}

.title_link_wrapper {
    display: flex;
    flex-flow: row;
}

.title {
    color: var(--color-A);
    font-size: 15pt;
    line-height: 80%;
    letter-spacing: 5%;
    text-align: end;
    text-transform: none;
    padding: 10px;
}

.links {
    text-transform: lowercase;
    font-size: 12pt;
    color: var(--color-B);
    writing-mode: vertical-lr;
}

.main_wrapper {
    display: flex;
    flex-flow: row;
    flex: 1 100%;
    background: var(--background-color);
    justify-content: space-between;
    margin: 5px;
    gap: 2px;
    /* width: 60vw; */
    /* height: 800px; */
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 auto;
    text-transform: uppercase;
    height: 85%;
}

.crime_and_words_wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.crime_wrapper {
    display: flex;
    padding: 2px;
    flex-grow: 0;
    margin: 2px;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: scroll;
}

.words {
    padding: 25px;
    background: var(--color-D);
    border: 2px;
    border-color: var(--border-color);
    border-style: solid;
    text-transform: lowercase;
}

.crime {
    text-transform: uppercase;
    display: flex;
    width: 150px;
    height: 80px;
    color: white;
    font-size: 15px;
    margin: 5px;
    padding: 8px;
    text-align: left;
    flex-grow: 0;
    border: 2px;
    border-color: var(--border-color);
    border-style: solid;
    line-height: 80%;
}

.crime:hover {
    background: rgb(251, 141, 63);
    background: var(--hover-color);
    color: #f9dc5c;
}

#buttonLocationID {
    font-size: 30px;
    text-align: center;
    border: 0px;
    line-height: 75%;
    padding: 10px;
}

[state="ready"] {
    background: var(--background-color);
}

[state="running"] {
    background: rgb(34, 118, 195);
    background: var(--running-color);
}

[state="complete"] {
    background: rgb(195, 53, 34);
    background: var(--complete-color);
}

[state="normal"] {
    background: var(--color-B);
    color: white;
}

[state="alert"] {
    background: var(--color-F);
    color: white;
}

.side_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 250px;
    flex-shrink: 0;
    justify-content: space-between;
    background: var(--color-A);
    color: white;
    margin: 0 0;
    /* height: auto; */
}

.information_title {
    font-size: 25pt;
    letter-spacing: 2px;
    background: var(--color-A);
    height: 10%;
    flex: 1 1;
    padding: 15px;
    margin: 2px;
    margin-left: 0px;
    text-align: right;
    justify-content: flex-start;
    line-height: 75%;
}

.information_text {
    font-size: 15pt;
    background: var(--color-A);
    color: white;
    height: 50%;
    padding: 15px;
    justify-content: flex-start;
    line-height: 80%;
}

.small_text {
    font-size: 10px;
    background: var(--color-A);
    text-align: center;
}

.words {
    display: flex;
}

.log {
    display: flex;
    background-color: var(--background-color);
    border: 2px;
    border-color: var(--border-color);
    border-style: solid;
    flex: 0 0;
    height: 40%;
    color: white;
    text-transform: none;
    padding: 5px;
}